.product {
    border: 1px solid darkgray;
    border-radius: 1em;
    min-width: 200px;
    height: 200px;
    margin: 20px auto 20px 20px;
}

.product img {
    width: 120px;
}

.product button {
    width: 100%;
}