.products-list {
    margin: 20px auto;
    width: 550px;
    text-align: center;
}

.products-in-list {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    border: 1px solid darkgray;
    border-radius: 8px;
    width: 500px;
    height: 500px;
}

.add-product-btn{
    background: #6FB2D2;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}